<ul>
<% @users.each do |user| %>
  <li class="user">
    <% if user.valid? %>
      <div class="avatar"><a href="http://twitter.com/<%= user.username %>"><img src="<%= user.avatar %>"></a></div>
      <div class="name"><a href="http://twitter.com/<%= user.username %>"><%= user.name %></a></div>
      <div class="username"><a href="http://twitter.com/<%= user.username %>"><%= user.username %></a></div>
      <% if !@sanitize && user.extra %>
        <div class="extra"><%= user.extra %></div>
      <% end %>
      <div class="tweets">
        <% user.tweets[0..0].each do |tweet| %>
          <div class="tweet"><%= auto_link_urls(tweet) %></div>
        <% end %>
      </div>
    <% else %>
      <div class="error">Error with <%= user.username %>: <%= user.error %></div>
    <% end %>
  </li>
<% end %>
</ul>
<p class="credits"><a href="http://twitroster.com/">Twit Roster</a> by <a href="http://terralien.com/">Terralien</a>.</p>